[req]
default_bits = 4096
default_md = sha256
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C=HR
ST=Splitsko-dalmatinska
L=Split
O=Netz00
OU = Cryptocurrency converter
CN = 34.88.122.153
[v3_req]
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
IP.1 = 34.88.122.153
IP.2 = 172.17.0.2
